<div class="container">
    <div class="section-title">
        <h2>Qui Sommes nous ?</h2>
        <div class="bar"></div>
        <p></p>
    </div>

    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="about-content">
                <h4>Faire appel à notre Cabinet c'est vous assurez que vos dettes seront recouvrées sans que votre image n'en soit impactée</h4>
                <div class="bar"></div>
                <p>Madame Blanchard, experte dans le recouvrement amiable depuis plusieurs années, jai travaillé pour différentes sociétés ( banque, petits artisans, société de leasing, ....) où j'ai pu acquérir toutes les qualités nécessaires d'un agent de recouvrement. J'ai su réunir une équipe d'experts afin de pouvoir satisfaire ma clientèle</p>
                <div class="about-btn">
                    <input type="hidden" />
                    <input type="hidden" />
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="about-image">
                <img src="assets/img/cabinet2.jpg" alt="image">
            </div>
        </div>
    </div>
</div>