<div class="container">
    <div class="section-title">
        <h2>Contactez nous</h2>
        <div class="bar"></div>
    </div>

    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="contact-info">
                <div class="contact-info-content">
                    <h2>
                        <span>Numéro</span>
                        <a href="tel:06 20 25 27 61">06 20 25 27 61</a>
                        <span>Email</span>
                        <a href="Cabinetblanchardrecouvrement@gmail.com">Cabinetblanchardrecouvrement@gmail.com</a>
                    </h2>
                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contact-info">
                <div class="contact-info-content">
                    <h2>
                        <span>Ardesse</span>
                        <a>num rue hghghhd</a>
                        <span>Temps de travail</span>
                        <a href="mailto:hello@apzie.com">Cabinetblanchardrecouvrement@gmail.com</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
