<section id="screenshots" class="screenshot-area ptb-100">
    <div class="container-fluid">
        <div class="screenshot-slider owl-carousel owl-theme">
            <div class="screenshot-item">
                <div class="image">
                    <img src="assets/img/cabinet.jpg" alt="image">
                </div>
            </div>
            <div class="screenshot-item">
                <div class="image">
                    <img src="assets/img/cabinet2.jpg" alt="image">
                </div>
            </div>

            <div class="screenshot-item">
                <div class="image">
                    <img src="assets/img/cabinet3.jpg" alt="image">
                </div>
            </div>

            <div class="screenshot-item">
                <div class="image">
                    <img src="assets/img/cabinet4.jpg" alt="image">
                </div>
            </div>

            <div class="screenshot-item">
                <div class="image">
                    <img src="assets/img/cabinet5.jpg" alt="image">
                </div>
            </div>           
        </div>
    </div>
</section>