<div  class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="">
                            <h1>La satisfaction de nos clients et au centre de nos objetifs</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="">
                            <img src="assets/img/cabinet5.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about" class="about-area pb-100">
    <app-about></app-about>
</section>

<app-app-screenshots></app-app-screenshots>



<section id="faq" class="faq-area ptb-100">
    <app-faq></app-faq>
</section>



<section id="contact" class="contact-area ptb-100">
    <app-contact></app-contact>
</section>
